<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs for techies</title>
    <link rel="stylesheet" href="/css/tw-style.css" />
  </head>

  <body>
    <div class="flex flex-col justify-center w-full">
      <header>
        <nav class="bg-gray-700 shadow-lg">
          <div class="flex justify-between">
            <div class="flex">
              <div class="flex text-white">
                <a href="/" class="flex items-center">
                  <img
                    src="/images/blog_icon.png"
                    alt="blog"
                    height="75px"
                    width="75px"
                  />
                  <span class="font-semibold text-xl tracking-tight">Blogs for
                    Techies</span>
                </a>
              </div>
              <div class="flex items-center text-md lg:flex-grow pl-10">
                <a
                  href="/"
                  class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
                >
                  Home
                </a>
                <a
                  href="/dashboard"
                  class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
                >
                  Dashboard
                </a>
                {{#if session.logged_in}}
                  <a
                    href="#"
                    id="logout"
                    class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white"
                  >
                    Logout
                  </a>
                {{else}}
                  <a
                    id="loginLink"
                    href="/dashboard"
                    class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
                  >
                    login
                  </a>
                {{/if}}
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main class="flex flex-col w-full justify-center items-center">
        {{#if session.logged_in}}
          <div class="flex flex-row mb-4 p-6 shadow-lg">
            <div class="justify-start">
              <h2>Welcome, {{session.username}}!</h2>
            </div>
          </div>
        {{/if}}
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>
    {{#if session.logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>